body {
    background: #f5f5dd;
    margin: 0;
}

header {
    background: #ffffff;
    border-bottom: solid 1px #cccccc;
    padding: 16px 0 6px 0;
}

.l-header {
	margin: 0 auto;
  	width: 960px;
}

.l-header section {
    display: flex;
    justify-content: space-between;
}

.l-header section h1 {
    margin: 0;
}

.l-header section p {
    margin: 0;
}

.l-header nav {
    margin: 10px  0 2px 0;
}

p {
	color: #664433;
}


.l-header-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.l-header-nav ul li {
    border-right: solid 1px;
    box-sizing: border-box;
	color: #664433;
    text-align: center;
    width: 192px;
}

.l-header-nav ul li:last-child {
    border-right: 0;
}

.l-main-view {
    margin: 0 auto;
    width: 960px;
}

.l-main-view figure {
    margin: 0;
}

h2 {
    background: url("images/icon/dish.png") no-repeat 10px center #99bb22;
    color: #ffffff;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 30px;
}